.gift-item {
  width: 328px;

  &__img {
    width: 100%;
    height: 250px;
    margin-bottom: 10px;

    .image {
      width: 100%;
      height: 100%;
      border-radius: 16px;
    }
  }

  &__content {
    .name {
      display: flex;
      justify-content: space-between;
      font-size: 28px;
      margin-bottom: 8px;
    }
    .price {
      font-size: 22px;
      color: #9b9b9b;
    }
  }
}